@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400|Passion+One:400");
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/* Default */
html {
	background-color: #262626;
	font-family: 'Ubuntu', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #FFF;
}
#container {
	padding-top: 75px;
	display: grid;
	grid-template-columns: repeat(5, [col-start] 20%);
	grid-template-rows: repeat(10, [row-start] 10%);
	grid-row-gap: 40px;
	grid-column-gap: 10px;
	justify-content: center;
	align-items: center;
}
#container img {
	height: 100px;
	width: 100px;
}
.item {
	border: solid;
	border-radius: 7px;
	border-color: #FFF;
	background-color: #FFF;
	color: #fa3c91;
	text-align: center;
	padding-bottom: 20px;
}
.item a {
	-webkit-border-radius: 15;
	-moz-border-radius: 15;
	border-radius: 15px;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	background: #262626;
	padding: 7px 60px 7px 60px;
	text-decoration: none;
}

.item a:hover {
	background: #fa3c91;
	background-image: -webkit-linear-gradient(top, #fa3c91, #d934b8);
	background-image: -moz-linear-gradient(top, #fa3c91, #d934b8);
	background-image: -ms-linear-gradient(top, #fa3c91, #d934b8);
	background-image: -o-linear-gradient(top, #fa3c91, #d934b8);
	background-image: linear-gradient(to bottom, #fa3c91, #d934b8);
	text-decoration: none;
}
#view-count h5 {
	display: inline-block;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  display: inline-block;

}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}
@media screen and (max-width: 1080px) {
	#container {
	padding-top: 75px;
	display: grid;
	grid-template-columns: repeat(2, [col-start] 50%);
	grid-template-rows: repeat(25, [row-start] 5%);
	grid-row-gap: 40px;
	grid-column-gap: 10px;
	justify-content: center;
	align-items: center;
	}
}

@media screen and (max-width: 600px) {
	#container {
	padding-top: 75px;
	display: grid;
	grid-template-columns: repeat(1, [col-start] 80%);
	grid-template-rows: repeat(50, [row-start] 2%);
	grid-row-gap: 40px;
	grid-column-gap: 10px;
	justify-content: center;
	align-items: center;
	}
}

/* Menu */
#header {
	overflow: hidden;
	min-width: 100%;
	margin: 0 auto;
	text-align: center;
}
#hero {
	overflow: hidden;
	height: 300px;
	min-width: 100%;
}
#nav-container button {
	background-color: #262626;
	color: #FFF;
	border: none;
	font-size: 24px;
	padding: 10px;
	float: left;
}
#nav-container button:hover {
	background-color: #3D3D3D;
}
.pushy-content ul {
	list-style-type: none;
}

/* Big Container */
#big-container {
	max-width: 90%;
	margin: 0 auto;
}

/* Footer */

	#footer {
		padding: 4em 0 2em 0;
		background-color: #fa3c91;
		text-align: center;
	}

		#footer .inner {
			width: 50%;
			margin: 0 auto;
			color: #fff;
		}

			@media screen and (max-width: 980px) {

				#footer .inner {
					width: 75%;
				}

			}

			@media screen and (max-width: 480px) {

				#footer .inner {
					width: 90%;
				}

			}

		#footer .copyright {
			color: rgba(255, 255, 255, 0.5);
			font-size: 0.9em;
			margin: 0 0 2em 0;
			padding: 0;
			text-align: center;
		}

		@media screen and (max-width: 736px) {

			#footer {
				padding: 3em 0 1em 0;
			}

		}
/* Footer End */