@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
	color: #FFF;
	background-color: #000;
	font-family: 'Ubuntu', sans-serif;
	margin: 10%;
	margin-top: 30%;
}
a {
	-webkit-border-radius: 15;
	-moz-border-radius: 15;
	border-radius: 15px;
	font-family: Arial;
	color: #ffffff;
	font-size: 30px;
	background: #474747;
	padding: 10px 20px 10px 20px;
	border: solid #ffffff 2px;
	text-decoration: none;
}

a:hover {
	background: #fa3c91;
	background-image: -webkit-linear-gradient(top, #fa3c91, #d934b8);
	background-image: -moz-linear-gradient(top, #fa3c91, #d934b8);
	background-image: -ms-linear-gradient(top, #fa3c91, #d934b8);
	background-image: -o-linear-gradient(top, #fa3c91, #d934b8);
	background-image: linear-gradient(to bottom, #fa3c91, #d934b8);
	text-decoration: none;
}
#container {
	text-align: center;
}